body{
  font-family: Arial,sans-serif;
  background-color: hsl(120, 60%, 30%);
}
.form-label{
  width: 200px;
  display: block;
  
}
.form-input{
  width: 200px;
  padding: 10x;
  border: 1 solid hsl(0, 0%, 80%);
}
.form-btn{
  width: 200px;
  padding: 10px;
  background-color: hsl(180, 100%, 50%);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;

}

.form-btn:hover{
  background-color: hsl(180, 100%, 40%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}